@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body, input{
	font-family: 'Gamja Flower', cursive;
}

body{
	margin: 0;
}

.planner-header{
	background-color: #8fbed6;
	width: 100%;
	height: 13vh;
	line-height: 13vh;
	margin-bottom: 15px;
}

.planner-header-items{
	display: flex;
	color: white;
	font-size: 50px;
	justify-content: space-between;
}

.planner-clock, .planner-calendar{
	width: 40px;
	height: 40px;
}

.left-items{
	margin-left: 10px;
}

.right-items{
	margin-right: 10px;
}

.planner-time{
	position: relative;
	bottom: 10px;
	font-size: 30px;
}

.planner-today {
	margin: 0 20px;
	position: relative;
	bottom: 6px;
}

.planner-date{
	position: relative;
	bottom: 13px;
}

.planner-section{
	display: flex;
}

.planner-timetable{
	border-collapse: collapse;
	height: 80vh;
	text-align: center;
	float: left;
}

.planner-timetable td{
	width: 33px;
}

#hour, .planner-table th{
	background-color: #c7d6de;
	color: white;
}

.planner-table{
	border-collapse: collapse;
	font-size: 24px;
	text-align: center;
	margin-left: 10px;
	margin-right: 0;
	width: 98%;
	overflow: scroll;
}

.planner-table tbody tr:hover{
	background-color: #e7eef1;
	cursor: pointer;
}

.none{
	display: none;
}

.planner-table td:nth-child(3n+1){
	width: 300px;
}

.planner-table td:nth-child(3n+2){
	width: 700px;
}
.planner-table td:nth-child(3n){
	width: 50px;
}

.subject_input, .content_input{
	position: relative;
	bottom: 2px;
	margin: auto;
	width: 80%;
	height: 25px;
	border: 1px solid gray;
	border-radius: 6px;
	font-size: large;
}

.subject_input::placeholder, .content_input::placeholder{
	text-align: center;
	font-size: large;
}

.submit_button{
	position: relative;
	bottom: 2px;
}

.visible{
	display: table-row;
}
